'
\'
*~
.DS_Store
.hidden
.hotspotter
HotSpotterApp.pkg
OpenGLContext.profile
build
desktop.ini
dist
hesaffexe
hotspotter/*.c
hotspotter/*.html
hscom/*.c
hsviz/*.c
*.a
*.a.*
*.dll
*.dll
*.dylib
*.exe
*.exe
*.gloh
*.ln
*.lprof
*.npz
*.pkl
*.png
*.prof
*.profile.txt
*.pyc
*.shelf
*.sift
*.so
*.so.*
*.swo
*.swp
*.un
*.aux
*.out
*.log
*.synctex
*.pyo
logs
logs2
