*~
resut lts*
build
dist
research/notingit
hs_scripts/setup/Output
hotspotter/generated_version.py
desktop.ini
OpenGLContext.profile
'
\'
*.un
*.swp
*.swo
*.npz
*.pyc
*.pkl
*.png
*.sift
*.gloh
.hidden
*.exe
*.dll
*.ln
*.a.*
*.so.*
.hotspotter
*.exe
*.dll
*.so
*.a
*.dylib
*.lprof
*.prof
