*~
results*
build
research/notingit
hs_scripts/setup/Output
hotspotter/generated_version.py
desktop.ini
OpenGLContext.profile
'
*.un
*.swp
*.swo
*.npz
*.pyc
*.pkl
*.png
*.sift
.hidden
*.exe
*.dll
*.ln
*.a.*
*.so.*
.hotspotter

*.exe
*.dll
